@page "/board"
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>Board</h1>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label>Stop</label>
        </div>
        <div class="col-md-2">
            <label>Less</label>
        </div>
        <div class="col-md-2">
            <label>Continue</label>
        </div>
        <div class="col-md-2">
            <label>More</label>
        </div>
        <div class="col-md-2">
            <label>Start</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>




@code {

}
